<body>
<header>
    <div class="logo-container">
        <img src="/image/logo.jpg" alt="Caprichos Reposteros Logo">
        <h1>Caprichos Reposteros</h1>
    </div>
    <div class="actions">
        <button onclick="location.href='/perfil'" class="botIni github-btn">
            <img src="/image/picperfil.png" alt="picPerfil" class="github-icon"/>
        </button>
                <button id="btn-cart-products" class="botIni">
            <img src="/image/cart.png" alt="picPerfil" class="github-icon"/>
        </button>
    </div>
</header>
<main>
    <section>
        <h3>Productos</h3>
        <div>
            <ul id="products-list" class="products-wrapper"></ul>
        </div>
    </section>
</main>
</body>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>