<div class="container">
  <div class="card">
    <img src="/image/logo.jpg" alt="Logo de fondo" class="background-img" />
    <div class="overlay">
      <form action='/users/login' method='post' class="form">
        <label for="email">Email:</label>
        <input type='email' name='email' id='email' class="input" />

        <label for="password">Password:</label>
        <input type='password' name='password' id='password' class="input" />

        <input type='submit' value='Ingresar' class="botIni" />
      </form>

      <div class="hr-line"></div>

      <button onclick="location.href='/users/register-github'" class="botIni github-btn">
        <img src="/image/github.jpg" alt="GitHub" class="github-icon" />
        Iniciar sesión con GitHub
      </button>

      <div class="register-box">
        <p>¿No tienes cuenta?</p>
        <button onclick="location.href='/registro'" class="botLog">Regístrate</button>
      </div>
    </div>
  </div>
</div>